{if condition="$code neq 0"}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
  {$message}&nbsp;({$status})
</div>
{elseif condition="empty($list)"}
{include file="public/list_empty"}
{else /}
<table class="table table-hover table-bordered" style="margin-bottom: 0px;">
<thead>
<tr>
<th>学号</th>
<th>姓名</th>
<th>性别</th>
<th>班级</th>
</tr>
</thead>
<tbody>
{foreach name="list" item="item" key="key"}

	<tr>
		<td>{$item->id}</td>
		<td>{$item->name}</td>
		<td>{$item->gender}</td>
		<td>{$item->cls}</td>
	</tr>

{/foreach}
</tbody>
</table>
<nav aria-label="Page navigation" class="nav-log-pager" data-size="{$size}" data-page="{$page}" data-id="{$id}" data-name="{$name}">
  <ul class="pagination">
    <li class="{$page==1?'disabled':''}">
      <a href="javascript:void(0);" aria-label="Previous" data-page="{$page==1?'1':$page-1}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {if condition="$page gt 3"}
    <li class=""><a href="javascript:void(0);" data-page="1">1</a></li>
    <li class="disabled"><a href="javascript:void(0);">...</a></li>
    {/if}
    <li class="active"><a href="javascript:void(0);" data-page="{$page<=3?'1':$page-2}">{$page<=3?'1':$page-2}</a></li>
    {if condition="$pageCnt egt 2"}
    <li class=""><a href="javascript:void(0);" data-page="{$page<=3?'2':$page-1}">{$page<=3?'2':$page-1}</a></li>
    {/if}
    {if condition="$pageCnt egt 3"}
    <li class=""><a href="javascript:void(0);" data-page="{$page<=3?'3':$page}">{$page<=3?'3':$page}</a></li>
    {/if}
    {if condition="$pageCnt egt 4 AND $pageCnt gt $page"}
    <li class=""><a href="javascript:void(0);" data-page="{$page<=3?'4':$page+1}">{$page<=3?'4':$page+1}</a></li>
    {/if}
    {if condition="$pageCnt egt 5 AND $pageCnt gt $page + 1"}
    <li class=""><a href="javascript:void(0);" data-page="{$page<=3?'5':$page+2}">{$page<=3?'5':$page+2}</a></li>
    {/if}
    {if condition="$pageCnt gt $page+2 AND $pageCnt egt 5"}
    <li class="disabled"><a href="javascript:void(0);">...</a></li>
    <li class=""><a href="javascript:void(0);" data-page="{$pageCnt}">{$pageCnt}</a></li>
    {/if}
    <li class="{$page==$pageCnt?'disabled':''}">
      <a href="javascript:void(0);" aria-label="Next" data-page="{$page==$pageCnt?$page:$page+1}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{/if}
<script>
$(document).ready(function() {
	$(".nav-log-pager>ul>li").each(function() {
		$(this).removeClass("active");
		if($(this).find("a").attr("data-page") == $(this).parents(".nav-log-pager").attr("data-page")) {
			$(this).addClass("active");
		}
	});
	
	$(".nav-log-pager>ul>li>a").click(function() {
		if($(this).parent().hasClass("disabled")) {
			return false;
		}
		var _parent = $("#data-area");
		var _page = $(this).attr("data-page");
		var _size = $(this).parents(".nav-log-pager").attr("data-size");
		var _id = $(this).parents(".nav-log-pager").attr("data-id");
		var _name = $(this).parents(".nav-log-pager").attr("data-name");
		
		var _data = "page=" + _page + "&size=" + _size + "&id=" + _id + "&name=" + _name;
		$(_parent).html('<div class="loading-icon"></div>');
		$.ajax({
			url: "{:url('index/student/info')}",
			data: _data,
			method: "POST",
			success: function(resp) {
				$(_parent).html(resp);
			}, 
			error: function() {
				$(_parent).html('<div class="list-empty"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;发生错误</div>');
			}
		});
	});
});
</script>