{if condition="empty($list)"}
{include file="public/list_empty"}
{else /}
<div class="alert alert-info" role="alert"><strong>{$room}</strong>（{$r_name}）现共有<strong>{$room_size}</strong>名成员，详情如下：</div>
{foreach name="list" item="item" key="key"}

<div class="panel panel-success">
	<div class="panel-heading">
		<h4><span class="glyphicon glyphicon-user"></span>&nbsp;成员#{$key + 1}</h4>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered" style="margin-bottom: 0px;">
			<tbody>
				<tr class="warning"><td>学号</td><td>{$item.id}</td></tr>
				<tr class="info"><td>姓名</td><td><strong>{$item.name}</strong></td></tr>
				<tr class="danger"><td>性别</td><td>{$item.gender}</td></tr>
				<tr class="success"><td>床位</td><td><strong>{$item.bed}</strong></td></tr>
				<tr class="warning"><td>班级</td><td>{$item.cls}</td></tr>
			</tbody>
		</table>
	</div>
</div>

{/foreach}

{/if}