<style>
.table-sys {
	margin-top: 10px;
	margin-bottom: 30px;
}
</style>
<table class="table table-hover table-bordered table-sys">
	<tbody>
	<tr><td colspan="2"><strong>按钮状态</strong></td></tr>
	<tr>
		<td><button style="width: 100%;" type="button" class="btn btn-success{:isset($button)?' disabled':''}" id="btn-login">{:isset($button)?$button['content']:'查询'}</button></td>
		<td></td>
	</tr>
	</tbody>
</table>
<table class="table table-hover table-bordered table-sys" style="margin-bottom: 0px;">
	<tbody>
	<tr><td colspan="2"><strong>通知列表</strong></td></tr>
	{foreach $alert as $atm}
		<tr>
			<td>
			<div class="alert alert-{$atm['color']|default='success'}{$atm['close']==0?'':' alert-dismissible'}" role="alert" style="margin: 0px;">
			{if condition="$atm['close'] eq 1"}
			  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			{/if}
			{if condition="!empty($atm['icon'])"}
			  <span class="{$atm['icon']}"></span>
			{/if}
			{$atm['content']}
			</div>
			</td>
			<td></td>
		</tr>
	{/foreach}
	</tbody>
</table>
<script>
$(".close>span[aria-hidden='true']").click(function() {
	return false;
});
</script>