

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <style type="text/css">
            <!--
body {
	background-color: #EEEEFF;
}
body,td,th {
	font-size: 12px;
}
.style3 {
	font-size: 14px;
	font-weight: bold;
}
.style4 {color: #FF0000}
.style5 {color: #0000FF}
-->

        </style>
    </head>
    <body>
        <table width="100%">
            <tr>
                <td>
                    <table width="100%" border="1" align="center" cellspacing="0" cellpadding="1">
                        <caption>
                            <span class="style3">学生基本信息</span>
	  
                        </caption>
                        <tr>
                            <th scope="col" align="center" valign="middle" nowrap>学号</th>
                            <th scope="col" align="center" valign="middle" nowrap>姓名</th>
                            <th scope="col" align="center" valign="middle" nowrap>性别</th>
                            <th scope="col" align="center" valign="middle" nowrap>年级</th>
                            <th scope="col" align="center" valign="middle" nowrap>院系</th>
                            <th scope="col" align="center" valign="middle" nowrap>专业</th>
                            <th scope="col" align="center" valign="middle" nowrap>班级</th>
                            <th scope="col" align="center" valign="middle" nowrap>科类</th>
                            <th scope="col" align="center" valign="middle" nowrap>层次</th>
                            <th scope="col" align="center" valign="middle" nowrap>学制</th>
                            <th scope="col" align="center" valign="middle" nowrap>师范</th>
                            <th scope="col" align="center" valign="middle" nowrap>外语</th>
                            <th scope="col" align="center" valign="middle" nowrap>备注</th>
      
                        </tr>
                        <tr>
                            <td colspan="13" scope="col" align="center" valign="middle" nowrap>
                                <span class="style4">对不起，没有该学号(14120572003)的基本信息。</span>
                            </td>
      
                        </tr>

    
                    </table>
                </td>
  
            </tr>
            <tr>
                <td>&nbsp;</td>
  
            </tr>
            <!--
  <tr><td><table width="100%" border="1" align="center" cellspacing="0" cellpadding="1"><caption><span class="style3">必修课学分信息</span>
      </caption><tr><th scope="col" align="center" valign="middle" nowrap>应修学分</th><th scope="col" align="center" valign="middle" nowrap>已获学分</th><th scope="col" align="center" valign="middle" nowrap>已获绩点</th><th scope="col" align="center" valign="middle" nowrap>平均绩点</th>
      </tr><tr><td colspan="4" scope="col" align="center" valign="middle" nowrap><span class="style4">对不起，没有该学号(14120572003)的必修课学分信息。</span></td>
      </tr>
    </table></td>
  </tr><tr><td>&nbsp;</td>
  </tr><tr><td><table width="100%" border="1" align="center" cellspacing="0" cellpadding="1"><caption><span class="style3">公选课学分信息</span>
      </caption><tr><th scope="col" align="center" valign="middle" nowrap>应修学分</th><th scope="col" align="center" valign="middle" nowrap>已获学分</th>
      </tr><tr><td colspan="2" scope="col" align="center" valign="middle" nowrap><span class="style4">对不起，没有该学号(14120572003)的公选课学分信息。</span></td>
      </tr>
    </table></td>
  </tr><tr><td>&nbsp;</td>
  </tr>
 -->
            <tr>
                <td>
                    <table width="100%" border="1" align="center" cellspacing="0" cellpadding="1">
                        <caption>
                            <span class="style3">学分信息</span>
      
                        </caption>
                        <tr>
                            <th scope="col" align="center" valign="middle" nowrap rowspan="2">必
                                <BR>修
                            </th>
                            <th scope="col" align="center" valign="middle" nowrap>应修学分</th>
                            <th scope="col" align="center" valign="middle" nowrap>已获学分</th>
                            <th scope="col" align="center" valign="middle" nowrap>已获绩点</th>
                            <th scope="col" align="center" valign="middle" nowrap>平均绩点</th>
                            <th scope="col" align="center" valign="middle" nowrap rowspan="2">选
                                <BR>修
                            </th>
                            <th scope="col" align="center" valign="middle" nowrap>应修学分</th>
                            <th scope="col" align="center" valign="middle" nowrap>已获学分</th>
		
      
                        </tr>
                        <tr>
                            <td colspan="4" scope="col" align="center" valign="middle" nowrap>
                                <span class="style4">对不起，没有该学号(14120572003)的必修课学分信息。</span>
                            </td>
                            <td colspan="2" scope="col" align="center" valign="middle" nowrap>
                                <span class="style4">对不起，没有该学号(14120572003)的公选课学分信息。</span>
                            </td>
      
                        </tr>

    
                    </table>
                </td>
  
            </tr>
            <tr>
                <td>&nbsp;</td>
  
            </tr>
            <tr>
                <td>
                    <table width="100%" border="1" align="center" cellspacing="0" cellpadding="1">
                        <caption>
                            <span class="style3">成绩信息</span> (共0项)
      
                        </caption>
                        <tr>
                            <th scope="col" align="center" valign="middle" nowrap>序号</th>
                            <th scope="col" align="center" valign="middle" nowrap>学年</th>
                            <th scope="col" align="center" valign="middle" nowrap>学期</th>
                            <th scope="col" align="center" valign="middle" nowrap>类别</th>
                            <th scope="col" align="center" valign="middle" nowrap>课程编号</th>
                            <th scope="col" align="center" valign="middle" nowrap>课程名称</th>
                            <th scope="col" align="center" valign="middle" nowrap>学时</th>
                            <th scope="col" align="center" valign="middle" nowrap>学分</th>
                            <th scope="col" align="center" valign="middle" nowrap>考核方式</th>
                            <!--
		<th scope="col" align="center" valign="middle" nowrap>计分形式</th>
		-->
                            <th scope="col" align="center" valign="middle" nowrap>原考成绩</th>
                            <th scope="col" align="center" valign="middle" nowrap>重学/补考成绩</th>
                            <th scope="col" align="center" valign="middle" nowrap>课程绩点</th>
                            <th scope="col" align="center" valign="middle" nowrap>学分绩点</th>
                            <th scope="col" align="center" valign="middle" nowrap>教师</th>
                            <!--
		<th scope="col" align="center" valign="middle" nowrap>头次</th>
		-->
      
                        </tr>
                        <tr>
                            <td colspan="15" scope="col" align="center" valign="middle" nowrap>
                                <span class="style4">对不起，没有该学号(14120572003)的成绩信息。</span>
                            </td>
      
                        </tr>
    
                    </table>
                </td>
  
            </tr>
            <tr>
                <td>&nbsp;</td>
  
            </tr>
            <tr>
                <td>
                    <table width="100%" border="1" align="center" cellspacing="0" cellpadding="1">
                        <caption>
                            <span class="style3">成绩系数</span> (共0项)
      
                        </caption>
                        <tr>
                            <th scope="col" align="center" valign="middle" nowrap>序号</th>
                            <th scope="col" align="center" valign="middle" nowrap>学年</th>
                            <th scope="col" align="center" valign="middle" nowrap>学期</th>
                            <th scope="col" align="center" valign="middle" nowrap>系数</th>
      
                        </tr>
                        <tr>
                            <td colspan="4" scope="col" align="center" valign="middle" nowrap>
                                <span class="style5">
                                    <span class="style4">对不起，没有该学号(14120572003)的成绩系数信息。
                                        <br>
        
                                    </span>( 说明：只有优体生才有成绩系数 )
                                </span>
                            </td>
      
                        </tr>
    
                    </table>
                </td>
  
            </tr>
            <tr>
                <td>&nbsp;</td>
  
            </tr>

        </table>
        <p align="center">
            <a href="zcjcx_login.html">输入下一学号</a>
        </p>


    </body>

</html>
