<!DOCTYPE html>
<html>
{include file="public/header" /}
<body style="padding-top: 0px;">
   <div class="container">
  	<div class="page-header col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0" style="margin-top: 5px;">
	  <h1>学生查询系统
	  	<small>
		  <a id="get-info" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom">
		  	<span style="top: 3px;" class="glyphicon glyphicon-info-sign"></span>
		  </a>
		</small>
	  </h1>
	</div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
        <div class="panel panel-primary">
          <div class="panel-body panel-body-less-padding">
            <a href="{:url('index/apartment/index')}" class="thumbnail">
              <span class="glyphicon glyphicon-home"></span><br/>
              <strong>查公寓</strong>
			</a>
			<a href="{:url('index/grade/index')}" class="thumbnail">
              <span class="glyphicon glyphicon-list-alt"></span><br/>
              <strong>查绩点</strong>
			</a>
			<a href="{:url('index/student/index')}" class="thumbnail developing">
              <span class="glyphicon glyphicon-user"></span><br/>
              <strong>姓名学号查询</strong>
			</a>
			<a href="{:url('index/energy/index')}" class="thumbnail developing">
              <span class="glyphicon glyphicon-flash"></span><br/>
              <strong>用电查询</strong>
			</a>
		  </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
{include file="public/footer" /}
<script type="text/javascript">
var resizeThum = function() {
	var _width = ($(".panel-body-less-padding").width() - 20)*0.332 - 6;
	$(".panel-body-less-padding>a.thumbnail").each(function() {
		$(this).width(_width);
		$(this).height(_width);
	});
	$(".panel-body-less-padding>a.thumbnail>.glyphicon").each(function() {
		$(this).css('top', _width * 0.18);
		$(this).css('font-size', _width * 0.5);
	});
	$(".panel-body-less-padding>a.thumbnail>strong").each(function() {
		$(this).css('top', _width * 0.22);
		$(this).css('font-size', _width * 0.125);
	});
}
$(document).ready(function() {
	$("a.developing").click(function() {
		$.alert({
			type: "blue",
			icon: 'glyphicon glyphicon-wrench',
			title: "Developing…",
			content: "攻城狮正在加班开发中，敬请期待……",
			columnClass: 'col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4',
			buttons: {
				OK: {
					btnClass: "btn btn-primary"
				}
			}
		});
		return false;
	});
	$('#get-info').tooltip({
		trigger: "click hover focus",
		title: "请根据需要选择下方的功能模块。如果你觉得此次查询对你有帮助，那就请点击页面最下方的Designer贡献一个鼓励么么哒吧~"
	});
	$(window).resize(resizeThum);
	resizeThum();
});
</script>
</body>

</html>
