<!DOCTYPE html>
<html>
{include file="public/header" /}
<body style="padding-top: 0px;">
   <div class="container">
  	<div class="page-header col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0" style="margin-top: 5px;">
  	  {if condition="!empty($logo)"}
	    <a href="javascript:void(0);"><img class="img-responsive" src="__STATIC__/img/{$logo}.png" style="margin-top: -10px;"/></a>
	  {/if}
	  <h1{if condition="!empty($logo)"} style="margin-top:-10px;"{/if}>绩点查询 
	  	<small>2014-17级
		  <a id="get-info" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom">
		  	<span style="top: 3px;" class="glyphicon glyphicon-info-sign"></span>
		  </a>
		</small>
	  </h1>
	</div>
       <div class="row">
           <div id="main-panel-area" class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
           		
               <div id="req-info-area" class="panel panel-info">
               	<div class="panel-heading">
					<h4><span class="glyphicon glyphicon-user"></span>&nbsp;请输入学号&nbsp;<small>Stu.ID</small></h4>
				</div>
				<div class="panel-body">
				<div id="alert-area">
{if condition="!empty($alert)"}
{foreach $alert as $atm}
					<div class="alert alert-{$atm['color']|default='success'}{$atm['close']==0?'':' alert-dismissible'}" role="alert">
					{if condition="$atm['close'] eq 1"}
					  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					{/if}
					{if condition="!empty($atm['icon'])"}
					  <span class="{$atm['icon']}"></span>
					{/if}
					{$atm['content']}
					</div>
{/foreach}
{/if}
				</div>
					<form class="form-horizontal" role="form">
					  <div class="form-group has-feedback">
					    <div class="col-xs-12">
					      <input id="ipt-id" type="text" class="form-control" placeholder="学号，限2014-2017级在校生">
					      <input style="display: none;" type="text" class="form-control" placeholder="Id">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-xs-12">
					      <button style="width: 100%;" type="button" class="btn btn-{$button['color']} {:empty($button['enable'])?'disabled':''}" id="btn-login">{:empty($button['enable'])?$button['dis_text']:$button['text']}</button>
					    </div>
					  </div>
					</form>
               </div>
           </div>
           <div id="data-area" style="margin-bottom: 50px;">
           </div>
       </div>
	</div>
   </div>
   <!-- /.container -->
{include file="public/footer" /}
<script>
$(document).ready(function() {
	function getQueryString(name) {
	    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
	    var r = window.location.search.substr(1).match(reg);
	    if (r != null)
	        return unescape(r[2]);
	    return null;
	}
	function queryByParam() {
	    var id = getQueryString('id');
	    if (id) {
	    	$('#alert-area').prependTo('#main-panel-area');
	    	$('#req-info-area').hide();
	        $("#ipt-id").val(id);
	        $("#btn-login").click();
	    }
	}
	$('#get-info').tooltip({
		trigger: "click hover focus",
		title: "绩点小于60分无法毕业，60分及以上可获毕业证，70分及以上可获得学位证。某些专业可能要求修满一定的公选课学分方可毕业。该系统也能查成绩，二专也可以查哦~如果你觉得此次查询对你有帮助，那就请点击页面最下方的Designer贡献一个鼓励么么哒吧~API链接在最下方~更多功能，请自行挖掘~"
	});
	$("#ipt-id").keypress(function() {
		var keycode = (event.keyCode ? event.keyCode : event.which);  
	    if(keycode == '13'){  
	    	$("#btn-login").click();
	    }
	});
	$("#btn-login").click(function() {
		if($(this).hasClass("disabled")) {
			return;
		}
		var nec = $(this).parents("form").find(".has-feedback");
		var isok = true;
		nec.each(function() {
			var ipt = $(this).find("input,select");
			if(ipt.val() == null || ipt.val() == '') {
				ipt.after('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
				$(this).addClass("has-error");
				if(isok) {
					ipt.focus();
				}
				isok = false;
			}
		});
		if(!isok) {
			return;
		}
		var _url = "{:url('index/grade/item')}";
		var _data = "id=" + $("#ipt-id").val();
		$("#data-area").html('<div class="loading-icon"></div>');
		$(this).addClass("disabled");
		var _this = $(this);
		var _btn_text = $(this).text();
		$(this).text(_btn_text + "中…");
		$.ajax({
			url: _url,
			data: _data,
			method: "POST",
			success: function(resp) {
				$("#data-area").html(resp);
				$(_this).removeClass("disabled");
				$(_this).text(_btn_text);
			}, 
			error: function() {
				$("#data-area").html('<div class="list-empty"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;发生错误</div>');
				$(_this).removeClass("disabled");
				$(_this).text(_btn_text);
			}
		});
	});
	queryByParam();
});
</script>
</body>

</html>
